*{
    margin: 0px;
    padding: 0px;
    background-color:black;
    
}
.main{
     height: 500px;
     width: 350px;
     background-color: whitesmoke;
     margin: 3% 0% 0% 30%;
     border-radius: 4%;
     
}
.display{
    min-height: 5.5rem;
    width: 99%;
    background-color: white;
    margin-top: 1%;
    margin-left: 1%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    align-items: end;
    justify-content: end;
}

button{
    height: 65px;
    width: 65px;
    background-color: black;
    margin-left: 3%;
    margin-top: 4%;
    border: 1px solid blue;
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    box-shadow: 5px 10px 5px rgb(58, 41, 41);
   
}
button:active{
    background-color: white;
    color: black;
    border: 1px solid black;
    
}
#equal{
    height: 60px;
    width: 120px;
    border-radius: 10px;
    font-size: 2rem;
   
}
#start{
    color: rgb(137, 224, 5);
    box-shadow: 5px 10px 5px rgb(58, 41, 41);
}

.screen{
    font-size: 3rem;
    align-items: end;
    color: blue;
}